<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="woo_commerce.vinci.com.flutter_woo_commerce">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
